* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #de4132; 
    border-radius: 12px; 
}


h2 {
    color: #313b4c;
}

p {
    color: rgba(49, 59, 76, 0.8);
}

header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 0 70px;
    position: fixed;
    background-color: #fef9f995;
    box-shadow: 1px 1px 7px #313b4c;
    border-radius: 6px;
}

nav div {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 80px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul a{
    text-decoration: none;
    color: #313b4c;
    font-weight: 500;
}

nav ul a:hover{
    color: #de4132;
}

button{
    width: 150px;
    height: 45px;
    background-color: #fef9f9;
    border: none;
    border-radius: 10px;
    color: #de4132;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 7px #313b4c;
}

button:hover{
    background-color: #de4132;
    color: #fef9f9;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    margin-left: 70px;
    height: calc(100vh - 70px);
    gap: 30px;
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    color: #de4132;
}

.buttons {
    display: flex;
    gap: 20px;
}

.our-partners , .choose-us  {
    padding: 20px 70px;
    background-color: #fef9f9;
}

.our-partners h1 , .snowboard h1  {
    width: max-content;
    margin-bottom: 50px;
    font-size: 40px;
    color: #313b4c;
}

.our-partners span , .snowboard span , .our-newsfeed span , .choose-us span {
    color: #de4132;
}

.logos {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logos div{
    max-width: 200px;
    min-width: 150px;
    height: 100px;
    min-height: 75px;
}

.logos div img{
    width: 120px;
    height: 75px;
}

.logos div img:hover{
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}

.snowboard {
    padding: 70px;
} 

.snowboard .container , .our-newsfeed .container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.snowboard .card , .our-newsfeed .card {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px #313b4c;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.snowboard .card .img-card , .our-newsfeed .card img {
    width: 100%;
    border-radius: 6px;
}

.snowboard .card .img-card:hover , .our-newsfeed .card img:hover{
    transform: rotateY(360deg);
    transition: 2s ease-in-out;
}

.snowboard .card a {
    text-decoration: none;
    color: #de4132;
}

.snowboard .learn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plan {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 420px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.plan h1 {
    font-size: 40px;
    color: white;
}

.plan p {
    color: white;
}

.our-newsfeed {
    padding: 0 70px;
}

.our-newsfeed h1 {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 40px;
    color: #313b4c;
}

.our-newsfeed .card img {
    border-radius: 10px;
}

.our-newsfeed .card-2 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-newsfeed .card-3 {
    height: 25%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-bottom: 1px rgb(158, 158, 158) solid;
    padding-bottom: 20px;
}

.our-newsfeed .card-3:nth-child(4) {
    border-bottom: none;
}

.our-newsfeed .card-3 img {
    width: 120px;
    height: 100px;
    border-radius: 10px;
}

.choose-us {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20 70px;
}

.choose-us h3 {
    color: rgb(252, 175, 52);
}

.choose-us h1 {
    margin: 0 auto;
    font-size: 40px;
    color: #313b4c;
}

.choose-us .choose {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
}

.choose-us .connect {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.choose-us input {
    width: 425px;
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(242, 243, 244);
}

.choose-us input:focus{
    outline: none;
    border: 1px solid #de4132;
}


footer {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    nav , .hero , .our-partners , .logos , .snowboard , .our-newsfeed , .choose-us{
        padding: 20px;
    }
    nav .logo img{
        width: 90px;
    }
    nav ul{
        display: none;
    }
    button{
        width: max-content;
        padding: 10px;
        height: 40px;
        font-weight: 400;
    }
    .hero h1 , .our-partners h1 , .snowboard h1 , .plan h1 , .our-newsfeed h1 , .choose-us h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .hero{
        margin: 0;
    }
    .logos{
        overflow-x: scroll;
    }
    .our-newsfeed h2{
        font-size: 18px;
        font-weight: 400;
    }
    .choose-us{
        flex-direction: column;
    }
    .choose-us .choose{
        width: 100%;
    }
    .choose-us .connect input{
        width: 250px;
    }
}